[include]
	path = .gitconfig_local
[core]
	attributesfile = ~/.gitattributes
	excludesfile = ~/.gitignore_local
	editor = vim
	quotepath = false
	autocrlf = false
	ignorecase = false
[pull]
	rebase = false
[push]
	default = simple
[diff]
	patience = true
	compactionHeuristic = true
[color]
	ui = true
[alias]
	s = status
	d = diff
	dw = diff --word-diff=plain
	dc = diff --cached
	dcw = diff --cached --word-diff=plain
	a = add
	co = commit
	com = commit -m
	coan = commit --amend --no-edit
	coam = commit --amend -m
	ch = checkout
	chb = checkout -b
	chm = checkout master
	b = branch
	l = log
	ln = log -n 3
	logd = log --oneline --graph --decorate
	logdn = log --oneline --graph --decorate -n 10
	los = log --oneline --numstat
	losn = log --oneline --numstat -n 10
	w = whatchanged
	wo = whatchanged --oneline
	configl = config -l
