[include]
	path = .gitconfig_local
[core]
	attributesfile = ~/.gitattributes
	excludesfile = ~/.gitignore_local
	editor = vim
	quotepath = false
	autocrlf = false
	ignorecase = false
[advice]
	ignoredHook = false
[pull]
	rebase = false
[push]
	default = simple
[diff]
	patience = true
	compactionHeuristic = true
[color]
	ui = true
[alias]
	a = add
	b = branch
	co = commit
	coam = commit --amend -m
	coan = commit --amend --no-edit
	com = commit -m
	configl = config -l
	cp = cherry-pick
	cpa = cherry-pick --abort
	cpc = cherry-pick --continue
	d = diff
	dc = diff --cached
	dcw = diff --cached --word-diff=plain
	dw = diff --word-diff=plain
	l = log
	ln = log -n 3
	logd = log --oneline --graph --decorate
	logdn = log --oneline --graph --decorate -n 10
	los = log --oneline --numstat
	losn = log --oneline --numstat -n 10
	pp = pull -p
	r = restore
	re = rebase
	rea = rebase --abort
	rec = rebase --continue
	rem = rebase master
	rs = restore --staged
	s = status
	st = stash
	stl = stash list
	stp = stash pop
	stre = !git stash && git rebase
	sw = switch
	swc = switch -c
	swm = switch master
	w = whatchanged
	wo = whatchanged --oneline
